<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Currency Conversion Rate</title>
</head>
<body>

<form action="." method="post" id="login-form">
			<div class="form-row">
			<label class="required" for="id_username">CurrencyName:</label>
			<input type="text" name="CurrencyName" autofocus required id="id_username">
			</div>
			<div class="submit-row">
			<label>&nbsp;</label><input type="submit" value="yes"> {% csrf_token %}
			</div>
		</form>
<div>
	{{ price }}
	<h1>Multi Currency</h1>
	{{ mprice }}
</div>
</body>
</html>